@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Open+Sans+Condensed:wght@300&family=Roboto+Mono:wght@700&display=swap");

.header {
  height: 90vh;
  background-image: linear-gradient(
      to right,
      rgba(37, 48, 76, 0.8),
      rgba(37, 48, 76, 0.8)
    ),
    url(../../images/headerImage.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  @media (max-width: 769px) {
    height: 80vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }
}

.text-box {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-30%, -40%);

  @media (max-width: 769px) {
    top: 30%;
    left: 33%;
  }
}

.heading-primary {
  color: #ffffff;
}

.heading-primary-start {
  color: #ff6600;
  font-size: 20px;
}

.heading-primary-main {
  display: block;
  font-family: "Cormorant Garamond", serif;
  font-size: 100px;

  @media (max-width: 769px) {
    font-size: 60px;
  }
}

.heading-primary-sub {
  border-top: 2px solid #ff6600;
  padding-top: 15px;
  display: block;
  text-align: right;
  font-family: "Roboto Mono", monospace;
  font-size: 30px;

  @media (max-width: 769px) {
    font-size: 13px;
  }
}
